button {
    background-color: var(--color-accent-1);
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--color-fg);
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: var(--color-bg);
    }
    &:focus {
        outline: none;
    }
    &:disabled {
        filter: grayscale(1);
        cursor: not-allowed;
    }
}
