textarea::-webkit-resizer {
    border-width: 8px;
    border-style: solid;
    background-color: var(--color-bg-accent);
    border-color: transparent var(--color-accent-1) var(--color-accent-1) transparent;
}
textarea,
Input {
    background-color: var(--color-bg-accent);
    color: var(--color-fg);
    border-radius: 1.3rem;
}
Input {
    border: transparent solid 0.2em;
    padding: 0.5rem 1rem;
}
textarea:focus,
input:focus {
    outline: none;
    border-color: var(--color-accent-1);
}
