*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    font-family: sans-serif;
}

/* Color scheme taken from https://colorhunt.co/palette/363333272121e16428f6e9e9 */
:root {
    --color-bg: #363333;
    --color-bg-accent: #272121;
    --color-fg: #f6e9e9;
    --color-fg-accent: #e16428;
}
