@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');
@import './variables.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    position: relative;
    font-weight: normal;
}

body {
    min-height: 100vh;
    font-family: 'Lexend', sans-serif;
}

// These are set as CSS variables so they could be changed at runtime
// But this is not implemented yet
:root {
    --color-bg: #{$white-1};
    --color-bg-menu: #{$white-2};
    --color-bg-accent: #{$white-3};
    --color-fg: #{$black};
    --color-grey: #{$grey};
    --color-accent-1: #{$color-1};
    --color-accent-2: #{$color-2};
    --color-accent-3: #{$color-3};
    --color-accent-4: #{$color-4};
    --color-accent-soft-1: #{$color-soft-1};
    --color-accent-soft-2: #{$color-soft-2};
    --color-accent-soft-3: #{$color-soft-3};
    --color-accent-soft-4: #{$color-soft-4};
    --color-wheel-1: #{$color-1};
    --color-wheel-2: #{$color-2};
    --color-wheel-3: #{$color-3};
    --color-wheel-4: #{$color-4};
    --color-wheel-5: #{$color-soft-1};
    --color-wheel-6: #{$color-soft-2};
    --color-wheel-7: #{$color-soft-3};
    --color-wheel-8: #{$color-soft-4};
}
