$white-1: #f1f3f6;
$white-2: #eff2f5;
$white-3: #d9d9d9;
$black: #000000;
$grey: #20263c;
$color-1: #ffc466;
$color-2: #f9623e;
$color-3: #8fa2ff;
$color-4: #6ecfbd;
$color-soft-1: #fec36a;
$color-soft-2: #f8623f;
$color-soft-3: #557ff0;
$color-soft-4: #6dcebb;

$spacing-xs: 0.25rem;
$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 2rem;
$spacing-xl: 4rem;

$font-weight-bold: 600;
$font-size-search: 1.1rem;
$font-size-large: 1.5rem;

$header-width: 1500px;
$header-filter: blur(5px);
$header-image-size: 5rem;

$login-width: 500px;

$spinner-button-size: 5em;

$recipe-grid-width: 1300px;
$recipe-grid-search-width: 70%;
$recipe-grid-card-min-width: 250px;
$recipe-grid-card-max-width: 400px;

$recipe-edit-width: 1400px;
$recipe-edit-max-width: 95vw;
$recipe-edit-image: 20em;
