$white-1: #f1f3f6;
$white-2: #eff2f5;
$white-3: #d9d9d9;
$black: #000000;
$grey: #20263c;
$color-1: #ffc466;
$color-2: #f9623e;
$color-3: #8fa2ff;
$color-4: #6ecfbd;
$color-soft-1: #fec36a;
$color-soft-2: #f8623f;
$color-soft-3: #557ff0;
$color-soft-4: #6dcebb;
